:root {
  --title-color: #212121;
  --main-color: #757575;
  --accent-color: #2196f3;
  --second-title-color: #ffffff;
  --background-color: #e5e5e5;
  --secondary-bgc: #f5f4fa;
  --third-bgc: #2f303a;
  --icon-color: #AFB1B8;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
  background-color: var(--second-title-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
address {
  font-style: normal;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*reset styles */
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--secondary-bgc);
}
.button:hover,
.button:focus {
  color: var(--second-title-color);
  background-color: var(--accent-color);
}
button {
  cursor: pointer;
  border: none;
}
.bgc {
  color: var(--background-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
/* Header section*/
.header-list {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
}
.contacts-list {
  margin-left: auto;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-logo {
  margin-right: 93px;
  color: var(--accent-color);
}
.logo-accent-main {
  color: var(--title-color);
}
.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-link.current {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}
.contacts-list {
  display: flex;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
  display: flex;
}
.main-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* Hero section*/
.hero {
  background-color: var(--third-bgc);
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  width: 696px;
  max-width: 700;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--second-title-color);
}
.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--second-title-color);
  background-color: #188ce8;
}
/* About */
.about-list {
  display: flex;
}
.about {
  padding-bottom: 0;
}
.about-item {
  flex-basis: 270px;
}
.about-pre-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bgc);
  border-radius: 4px;
  margin-bottom: 30px;
}
.about-icon {
  width: 70px;
  height: 70px;
}

/* Gallery */
.gallery-list {
  display: flex;
  margin: 0;
}
.gallery-item:not(:last-child) {
  margin-right: 30px;
}
.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
/* Masters */
.masters {
  background-color: var(--secondary-bgc);
}
.masters-list {
  display: flex;
  margin: 0;
}
.masters-item {
  width: 270px;
  background-color: var(--second-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.masters-item:not(:last-child) {
  margin-right: 30px;
}
.masters-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.card-content {
  padding: 30px 0;
  text-align: center;
}
.masters-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}
.masters-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 16px;
}
.masters-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.masters-soc-item:last-child {
  margin-right: 0;
}

.masters-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
}

.masters-soc-icon {
  fill: currentColor;
}

.masters-soc-link:hover,
.masters-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--second-title-color);
}
/* Navigation */
.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin: 0;
}
.nav-item:not(:last-child) {
  margin-right: 8px;
}
.button.nav:hover,
.button.nav:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.navigation-list .button {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
}
.navigation-list {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.link-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.features-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.features-item {
  background-color: var(--second-title-color);
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.features-item:nth-child(3n) {
  margin-right: 0;
}
.features-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.features-item .link {
  display: block;
}

.features-item .link:hover,
.features-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Clients-title*/

.clients-title {
  text-align: center;
  margin-bottom: 50px;
  color: var(--title-color);
}

.clients-list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.clients-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Footer */
.footer-address {
  margin-top: 20px;
}
.footer {
  background-color: var(--third-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list {
  margin: 0;
}
.footer-logo {
  color: var(--accent-color);
}
.logo-accent {
  color: var(--second-title-color);
}
.footer-item {
  font-style: normal;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-text {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 9px;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.join-list {
  display: flex;
}
.footer-join {
  margin-left: 70px;
}

.footer-title {
  margin-bottom: 20px;
}
.join-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  color: var(--second-title-color);
}

.join-item:last-child {
  margin-right: 0;
}

.footer-soc-icon {
  fill: currentColor;
}

.join-item:hover,
.join-item:focus {
  background-color: var(--accent-color);
}
/* .container.footer-navigation {
  display: flex;
} */
.footer .container {
  display: flex;
  align-items: baseline;
}
